<div class="row header">
   <div class="col-md-2">
      <img src="./../../assets/logo.png" width="100px" height="80px">
   </div>
   <div class="col-md-8">
         User Management System
   </div>
   <div class="col-md-2 pull-right welcome">  Welcome <a >{{user}}</a> ! You are <a>{{role}}</a>!</div>
   
</div>

<div class="row">
      
   <div class="col-md-2 navigation">
        <ul class="nav navbar-nav">
            <li><a class="nav" [routerLink]='["dashboardinfo"]' > Dashboard </a> </li>
            <li><a class="nav" [routerLink]='["userlist"]' *ngIf="forUser==false"> Users </a></li>
            <li><a class="nav" [routerLink]='["personalinfolist"]' *ngIf="forUser==false"> Personal Info </a></li>
            <li><a class="nav" [routerLink]='["logout"]'> Logout </a></li>
      </ul>   
         <div class="usersettings">

            <a [routerLink]='["dashboardinfo"]' *ngIf="forUser==false"><i class="fa fa-bell"></i></a>
            <a [routerLink]='["personalinfolist"]' *ngIf="forUser==false"><i class="fa fa-check"></i></a>
            <a [routerLink]='["userlist"]' *ngIf="forUser==false"><i class="fa fa-user"></i></a>
            <a [routerLink]='["changepassword"]' *ngIf="forUser==false"><i class="fa fa-cog"></i>  </a> 
         </div>
    </div>

   <div class="col-md-9">

                 


         <router-outlet></router-outlet>            
   </div>

</div>
<div class="row footer">
 
 <p> Developed by : Rahul Chougule | Harbinger Group   </p> 
</div>

