<div class="row">

                    
  <div class="col-md-3">
         <div class="adminusers ">
            <h3> {{totalUsers}} </h3> <h6><i class="fa fa-user"></i>  Admin users <span class="pull-right">  <a class="nav" [routerLink]='["../userlist"]' *ngIf="forUser==false"> Go</a> </span></h6>
             
            <hr>
         </div>
 </div>
 
 <div class="col-md-3">
         <div class="operatorusers">
            <h3> {{operators}} </h3>  <h6> <i class="fa fa-check"> </i>Operator users <span class="pull-right"> <a class="nav" [routerLink]='["../userlist"]' *ngIf="forUser==false"> Go</a> </span></h6>
             <hr>
         </div>
 </div>
 
 <div class="col-md-3">
         <div class="accessusers ">
            <h3> {{accessUsers}} </h3>  <h6><i class="fa fa-group"></i> Access users<span class="pull-right"> <a class="nav" [routerLink]='["../userlist"]' *ngIf="forUser==false"> Go</a> </span></h6>
            <hr>
         </div>
 </div>
 <div class="col-md-3">
         <div class="pendingusers ">
            <h3> {{pendingApprovals}} </h3> <h6><i class="fa fa-dot-circle-o"></i> Pending Approvals<span class="pull-right"> <a class="nav" [routerLink]='["../personalinfolist"]' *ngIf="forUser==false">Go</a> </span></h6>
            <hr>
         </div>
 </div> 
  
</div> 