

  <div class="container">
    <form  name="frmLogin">
        <div class="form">
        <div class="col-md-10">
        <label for="txtName"> User Name </label>

           <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" id="txtName"  class="form-control" name="txtName" [(ngModel)]="user.userName">
                
            </div>  
            <br>    
            <label for="txtName"> Your Password </label>
           
           
            <div class="input-group form-group">
                    
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" id="txtPassword" name="txtPassword" class="form-control" [(ngModel)]="user.password" >
                    
            </div>  


    </div>
            
            <br>
        <div class="col-md-6">
        
        <input type="button" class="btn btn-success" (click)="checkLogin()" value="Login">
        
        
        </div>
    </div>
    </form>
</div>


